/* COLOR NAME */
/* h1{
    color : tomato;
} */

/* HEX CODE */
/* h1{
    color: #324a9c;
} */

/* RGB */
/* h1{
    color: rgb(49, 158, 49);
} */

/* BACKGROUND COLOR */
 /* body{ 
    background-color: wheat ;
    color: red;
} */

/* div{
    background-color: wheat;
    color: darkgreen;
} */

/* OPACITY */
/* #div1{
    background-color: green;
    opacity: 0.5;
} */

/* img{
    opacity: 0.5;
} */
